@Scripts.Render("~/scripts/Work_with_images_object.js")

<div>


    @foreach (var i in (List<online_store.Models.Connect_image>)ViewBag.Images)//(online_store.Models.Connect_image)
    {
        <div class="Work_with_images_object_one_img_in" id=@string.Concat("Work_with_images_object_id_one_block_",i.Id)>
            <div>
                <img src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Image)) />
            </div><div>@Ajax.ActionLink("Удалить", "Delete_img_block", "Admin", new { id = i.Id }, new AjaxOptions {
                      UpdateTargetId = string.Concat("Work_with_images_object_id_one_block_", i.Id), LoadingElementId = "Main_preloader_id",
                      LoadingElementDuration = 200
                  })</div>
        </div>
    }
    <div>
        @using (Html.BeginForm("Add_new_image", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Hidden("id", ((int)ViewBag.Id))//((int)ViewBag.Id).ToString()
                                                @Html.Hidden("from", "Object")
                                                <div class="Work_with_images_object_block_adds_img_class" id="Work_with_images_object_block_adds_img">


                                                </div>

                                                <div class="Work_with_images_object_div_add_ph_button" onclick="add_new_block_img()">Добавить поле для ввода картинки кнопка</div>
                                                <div class="Work_with_images_submit_button_1"><input type="submit" class="submit" value="Отправить" /></div>

        }

    </div>
</div>




