body {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color:gainsboro;
    min-width:960px;
}
#loginForm{
    max-width:500px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
    width:100%;
}
.link_standart_for_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: black; /* Цвет ссылки */
}
img {
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin:0;
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

div.div_inline_block {
    display: inline-block;
    vertical-align: top;
}
div.div_scroll_y_block{
    overflow-y: auto;
}

div.div_color_white {
    background-color: white;
}
div.div_body {
    position: relative;
    width: 80%;
    margin-left: 10%;
    min-height: 400px;
    z-index: 3;
    background-color: white;
}

p{
    width:100%;
}
a {
    text-decoration: none;
}
    a:hover {
        text-decoration: none;
    }
/*.link_without_prop {
    text-decoration:none;
}
    .link_without_prop:hover {
        text-decoration:none;
    }*/

div.div_footer{
    height:200px;
    background-color:grey;
    width:100%;
}
div.div_display_none{
    display: none;
    position:relative;

}
/*-------------------------------------------------------------------------------------------------------------------*/
div.Main_header_big {
    position: relative;
    background-color: white;
    height: 500px;
    width: 96%;
    left: 2%;
    background-image: url(/Content/images/main_header_back_big.jpg);
    background-size: 100% 100%;
}
div.Main_header_big_v2 {
    height: 350px;
    background-color: white;
    background-image: url(/Content/images/1369046657936.jpg);
    background-size: 100% 100%;
}
div.Main_header_small {
    position: fixed;
    height: 50px;
    width: 100%;
    display: none;
    top: 0px;
    /*background-color: #cdfae0;*/
    background-image: url(/Content/images/main_header_back_big.jpg);
    min-width:960px;
    z-index: 5;
}
div.Main_header_left_block {
    width: 69%;
    height: 100%;
}
div.Main_header_right_block {
    width: 29%;
    height: 100%;
}
div.Main_header_basket_link {
    /*float:right;*/
    margin-left:24%;
    margin-top:70px;
    width: 50%;
    height: 50px;
    background-color: white;
    transition: 1s;
    text-align:center;
    font-size:25pt;
}
    div.Main_header_basket_link:hover {
        background-color: antiquewhite;
        transition: 1s;
    }div.Main_header_sections_view {
    }

ul.Main_header_sections_list_ul li {
    display: inline; /* Отображать как строчный элемент */
    margin-left: 5px; 
    
   
}
div.Main_header_one_section_block{
    /*width:100px;*/
    font-size:14pt;
    background-color:white;
    margin-top:5px;
}
div.Main_header_big_under {
    margin-top: 10px;
    height: 140px;
}
#Main_header_check_small_or_big_header{
    width:100%;
}

div.Main_header_small_name {
    width:200px;
    font-size:25pt;
    font-style:italic;
    position:absolute;
    

}
div.Main_header_small_basket {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100px;
    font-size: 25pt;
}
div.Main_header_back_to_top{
    position: fixed;
    height: 50px;
    width: 50px;
    display: none;
    top: 600px;
    /*background-color: #cdfae0;*/
    background-image: url(/Content/images/back_to_top.jpg);
    background-size: 100% 100%;
    z-index: 5;
    cursor:pointer;
}
div.Main_header_big_home_link{
    position:absolute;
    top:0;
    left:0;
     width:200px;
    font-size:25pt;
    font-style:italic;
}

/*List_objects*/
div.List_objects_one_object {
    margin-top: 10px;
    width: 250px;
    height: 500px;
    display: inline-block;
    border:1px solid black;
}

ul.List_objects_list_all li {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
div.Object_follow_follow_img {
    /*height:50px;
    width:50px;*/
}
#Object_follow_block_all_id {
    height: 50px;
    width: 50px;
    position:relative;
}
.Object_add_basket_block_all_class {
    height: 50px;
    width: 50px;
    float:right;
}div.Object_follow_follow_img_white {
    background-image: url(/Content/images/white_heart.jpg);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}
div.Object_follow_follow_img_red {
    background-image: url(/Content/images/red_heart.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}
/**/
/*Work_with_images_object*/
div.Work_with_images_object_div_add_ph_button {
    border: 2px solid black;
    background-color: aqua;
    transition: 1s;
    width: 250px;
    cursor: pointer;
}
    div.Work_with_images_object_div_add_ph_button:hover {
        border: 2px dashed black;
        background-color: aquamarine;
        transition: 1s;
    }
    div.Work_with_images_submit_button_1{
        width:10%;
    }

div.Add_mark_for_object_white_star {
    background-image: url(/Content/images/white_star.png);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}
div.Add_mark_for_object_yellow_star {
    width: 20px;
    height: 20px;
    background-image: url(/Content/images/yellow_star.jpg);
    background-size: 100% 100%;
}
div.Add_mark_for_object_red_yellow_star {
    width: 20px;
    height: 20px;
    background-image: url(/Content/images/red_yellow_star.png);
    background-size: 100% 100%;
}
div.Add_mark_for_object_red_star{
    
    width: 20px;
    height: 20px;
    background-image: url(/Content/images/red_star.png);
    background-size: 100% 100%;

}
div#Add_mark_for_object_partial_id {
   
}
div.Add_mark_for_object_partial_class {
    border: 2px solid black;
}div.Work_with_images_object_one_img_in {
    width: 300px;
    height: 450px;
}
/*Object_view*/
.Object_view_text_area_comment{
    width:100%;
    min-width:300px;
    height:150px;
    min-height:100px;
    max-height:400px;
    max-width:100%;
}
div.Object_view_small_img_change {
    height: 100px;
    width: 70px;
    cursor:pointer;
}
div.Object_view_small_img_change_block {
    height: 450px;
    width: 75px;
}
div.Object_view_main_img{
    width:300px;
    height:450px;
}
div.Object_view_main_img_under {
    width: 300px;
    height: 650px;
}div.Object_view_left_block {
    width: 50%;
}
div.Object_view_right_block{
    width:49%;
}
div.Object_view_one_comment_block {
    border: 2px dashed #8fd4ff;
    padding: 10px;
    min-height: 250px;
    max-height: 500px;
    position:relative;
    width:100%;
}
div.Object_view_comm_block_mark{

}
div.Object_view_mark_main {
    border: 2px solid black;
}
.Object_view_one_comment_text_lable{
   
    word-break: break-all;
    table-layout: fixed;
    max-width:100%;
}
div.Object_view_one_comment_text{
    max-width:70%;
}
/*Object_add_basket*/
div.Object_add_basket_follow_img_empty {
    background-image: url(/Content/images/truck_empty.jpg);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}

div.Object_add_basket_follow_img_full {
    background-image: url(/Content/images/truck_full.jpg);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}
/*Basket_one_object*/
div.Basket_one_object_partial_one_block{
    height:200px;
     background-color:#fafde6;
     margin-top:10px;
      padding-left: 10px;
    padding-top: 10px;
}
div.Basket_one_object_left_block{
    width:250px;
    height:100%;
}
div.Basket_one_object_right_block {
    width: 55%;
    height: 100%;
}
div.Basket_one_object_delete_block {
    width: 75px;
    height: 100%;
    float:right;
}
div.Basket_page_all_price_block{
   position:relative;
   height:100px;
}
div.Basket_page_all_price_block_lvl_2{
    float:right;
    
}
div.Basket_page_buy_but {
    width: 300px;
    font-size: 35pt;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: dotted 2px red;
    background-color: #ffabab;
    transition: 2s;
}
    div.Basket_page_buy_but:hover {
        border: solid 2px black;
        background-color:gainsboro;
    }


    /*Follow_one_object_partial*/
    div.Follow_one_object_partial_one_block{
    height:200px;
    background-color:#fafde6;
    margin-top:10px;
     padding-left: 10px;
    padding-top: 10px;
}
div.Follow_one_object_left_block{
    width:250px;
    height:100%;
}
div.Follow_one_object_right_block {
    width: 55%;
    height: 100%;
}
div.Follow_one_object_delete_block {
    width: 75px;
    height: 100%;
    float:right;
}


/*Personal_record*/
.Personal_record_one_comment_text_lable{
   
    word-break: break-all;
    table-layout: fixed;
    max-width:100%;
}
div.Personal_record_one_comment_text{
    max-width:63%;
}
div.Personal_record_right_block {
    width: 30%;
    float:right;
}
div .Personal_record_left_block {
    width: 67%;
}
div.Personal_record_info_block{
    height:300px;
}
div.Personal_record_main_img_block {
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
}
div.Personal_record_one_comment_block {
    /*border: 2px dashed #8fd4ff;*/
    padding-left: 10px;
    padding-top: 10px;
    min-height: 250px;
    max-height: 500px;
    margin-top:10px;
     background-color:#fafde6;
     position:relative;
}
div.Personal_record_Delete_Comment_button{
    float:right;
   position:relative;
    width:75px;
  min-height: 230px;
    
}
div.Personal_record_Edit_Comment_button{
     position:absolute;
    bottom:0;
    
}
div.Personal_record_basket_block{
    max-height:450px;
     background-color:#fafde6;
}
div.Personal_record_follow_block{
     max-height:450px;

}
div.Personal_record_comments_block{
     max-height:450px;
}
div.Personal_record_purchases_block{
     max-height:450px;
}
/*Purchase_view*/
div.Purchase_view_one_purchase_block{
    width:100%;
    height:200px;
}
div.Purchase_view_one_purchase_block_img{
     width:200px;
    height:200px;
    float:left;
}
/*Index*/

div.Index_one_block_slider_1{
    height:300px;
    width:150px;
    margin-left:10px;
    background-color:white;
    border:1px groove black;
}
div.Index_one_block_slider_1_hid{
    height:100px;
    width:100px;
    
}
div.Index_one_block_slider_1_img{
    height:200px;

}
div.Index_button_prev_slider_1{
    position:relative;
    cursor:pointer;
    top:20%;
    height:50%;
    width:50px;
    background-image: url(/Content/images/prev_button.png);
    background-size: 100% 100%;
}
div.Index_button_next_slider_1{
     position:relative;
    cursor:pointer;
    top:20%;
     height:50%;
    width:50px;
    background-image: url(/Content/images/next_button.png);
    background-size: 100% 100%;
}
div.Index_slider_1{
    position:relative;
    height:300px;
    margin-top:20px;
}
div.Index_block_type_1{
    height:300px;
    background-image: url(/Content/images/index_big_1.jpg);
    background-size: 100% 100%;
    
}



/*
*/
div.Main_header_hover_section_for_block{
    height:0px;
    width:0px;
    position:absolute;
    background-color:white;
    
   
   /* display: none;*/
    z-index:4;
   transition:0s;
}
div.Main_header_one_section_block:hover  div.Main_header_hover_section_for_block{
   /*display: block;*/ 
  height:600px;
    width:350px;
    transition:2s;
   
    
    
}
div.Main_header_one_section_block:hover div.Main_header_hover_section_for_block_opac{
     opacity:1;
}
div.Main_header_hover_section_for_block_opac{
    opacity:0;Main_header_search
    transition:5s;
    
    width:100%;
    height:100%;
}
div.Main_header_search{
    position: relative;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width:45%;
}
div.Main_header_search_text_line{
    width:80%;
}
div.Main_header_search_submit_button{
width:19%;

}



/*Add_object*/
div.Add_object_all_block{
    width:50%;
    min-width:300px;
}
div.Add_object_small_block{
     width:50%;
    min-width:100px;
}
div.Add_object_submit_block{
    margin-top:30px;
}



