body {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color:gainsboro;
    min-width:960px;
    position:relative;
    
    /*font-family: SuperPuperFont;*/
}
#RememberMe{
    max-width:50px;
}
#loginForm{
    max-width:500px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
    width:100%;
}
.link_standart_for_div {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    color: black; /* Цвет ссылки */
}
img {
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin:0;
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

div.div_inline_block {
    display: inline-block;
    vertical-align: top;
}
div.div_scroll_y_block{
    overflow-y: auto;
}

div.div_color_white {
    background-color: white;
}
div.div_body {
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
    width: 80%;
    margin-left: 10%;
    min-height: 400px;
    z-index: 3;
    background-color: white;
}

p{
    width:100%;
}
a {
    text-decoration: none;
}
    a:hover {
        text-decoration: none;
    }
/*.link_without_prop {
    text-decoration:none;
}
    .link_without_prop:hover {
        text-decoration:none;
    }*/

div.div_footer{
    position:relative;
    height:300px;
    background-color:grey;
    width:100%;
}
div.div_display_none{
    display: none;
    position:relative;

}
div.Main_preloader{
    position:fixed;
    width:100px;
    height:100px;
    left:48%;
    top:50px;
    background-image: url(/Content/images/preloader_cat.gif);
    background-size: 100% 100%;
    z-index:5;
}

div.no_comments_div_image{
    background-image: url(/Content/images/no_comments.PNG);
    background-size: 100% 100%;
    width:100%;
    height:200px;
    margin-top:100px;
}
/*-------------------------------------------------------------------------------------------------------------------*/
#Main_block_show_all_block{
    background-color: rgba(192, 192, 192, 0.5);
    position:fixed;
    top:0;
    left:0;
     z-index:7;
     cursor:pointer;
}




/*--------------------------------------------------------*/
div.Main_header_big {
    position: relative;
    background-color: white;
    height: 500px;
    width: 96%;
    left: 2%;
    background-image: url(/Content/images/main_header_back_big.jpg);
    background-size: 100% 100%;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.Main_header_big_v2 {
    height: 350px;
    background-color: white;
    background-image: url(/Content/images/1369046657936.jpg);
    background-size: 100% 100%;
}
div.Main_header_small {
    position: fixed;
    height: 50px;
    width: 100%;
    display: none;
    top: 0px;
    /*background-color: #cdfae0;*/
    background-image: url(/Content/images/main_header_back_big.jpg);
    min-width:960px;
    z-index: 5;
}
div.Main_header_left_block {
    width: 69%;
    height: 100%;
}
div.Main_header_right_block {
    width: 29%;
    height: 100%;
    margin-top:10px;
   
}
div.Main_header_1_link_for_4rlink_r {
    width: 49%;
    height: 50px;
    background-color: white;
   color: black;
    text-align:center;
    font-size:25pt;
    overflow:hidden;
}
div.Main_header_1_link_for_4rlink_r:hover {
         box-shadow:inset 0 0 20px rgba(0,0,0,0.5);
}
 /*
div.Main_header_basket_link {
    
    width: 49%;
    height: 50px;
    background-color: white;
   
    text-align:center;
    font-size:25pt;
}
    div.Main_header_basket_link:hover {
        box-shadow:inset 0 0 20px rgba(0,0,0,0.5);

    }
   
    div.Main_header_pers_rec_link {

    width: 49%;
    height: 50px;
    background-color: white;
    
    text-align:center;
    font-size:25pt;
}
    div.Main_header_pers_rec_link:hover {
         box-shadow:inset 0 0 20px rgba(0,0,0,0.5);
       
        
    }
    */
    div.Main_header_bask_rec_div{
        height:50px;
        margin-top:5px;
    }
    div.Main_header_sections_view {
    }

ul.Main_header_sections_list_ul li {
    display: inline; /* Отображать как строчный элемент */
    margin-left: 5px; 
    
   
}
div.Main_header_one_section_block{
    /*width:100px;*/
    font-size:14pt;
    background-color:white;
    margin-top:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.Main_header_big_under {
    margin-top: 10px;
    height: 140px;
}
#Main_header_check_small_or_big_header{
    width:100%;
}

div.Main_header_small_name {
    width:200px;
    font-size:25pt;
    font-style:italic;
    position:absolute;
    

}
div.Main_header_small_basket {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100px;
    font-size: 25pt;
}
div.Main_header_back_to_top{
    position: fixed;
    height: 50px;
    width: 50px;
    display: none;
    top: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /*background-color: #cdfae0;*/
    background-image: url(/Content/images/back_to_top.jpg);
    background-size: 100% 100%;
    z-index: 5;
    cursor:pointer;
}
div.Main_header_big_home_link{
    position:absolute;
    top:0;
    left:0;
     width:200px;
    font-size:25pt;
    font-style:italic;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*List_objects*/
#List_objects_type_all_object_block_id{
    z-index: 3;
    position: relative;
}
div.List_objects_one_object {
    margin-top: 10px;
    width: 250px;
    height: 600px;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border:1px solid black;
    margin-left:5px;
}
div.List_objects_one_object_empty {
    margin-top: 10px;
    width: 250px;
    height: 500px;
  
    border:1px solid black;
      background-image: url(/Content/images/wasted_vert.png);
    background-size: 100% 100%
}
/*
ul.List_objects_list_all li {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}*/
div.Object_follow_follow_img {
    /*height:50px;
    width:50px;*/
}
#Object_follow_block_all_id {
    height: 50px;
    width: 50px;
    position:relative;
}
.Object_add_basket_block_all_class {
    height: 50px;
    width: 50px;
    float:right;
}div.Object_follow_follow_img_white {
    background-image: url(/Content/images/white_heart.jpg);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}
div.Object_follow_follow_img_red {
    background-image: url(/Content/images/red_heart.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}
div.Object_view_add_basket_block_all{
    min-height:300px;
    background-color:aquamarine;
}

div.Object_view_follow_block{
    position:absolute;
    top:15px;
    right:15px;
}
div.Object_view_notification_object{
    width:100%;
    max-width:500px;
    
    background-color:#fa9191;
    font-size:24pt;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.Object_view_not_notification_object{
    width:100%;
    max-width:500px;
    
    background-color:#bab3b3;
    opacity:.5;
    font-size:24pt;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/**/
/*Work_with_images_object*/
div.Work_with_images_object_block_adds_img_class{
    max-width:300px;
}
div.Work_with_images_object_div_add_ph_button {
    border: 2px solid black;
    background-color: aqua;
    transition: 1s;
    width: 250px;
    cursor: pointer;
}
    div.Work_with_images_object_div_add_ph_button:hover {
        border: 2px dashed black;
        background-color: aquamarine;
        transition: 1s;
    }
    div.Work_with_images_submit_button_1{
        width:10%;
    }

div.Add_mark_for_object_white_star {
    background-image: url(/Content/images/white_star.png);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}
div.Add_mark_for_object_yellow_star {
    width: 20px;
    height: 20px;
    background-image: url(/Content/images/yellow_star.jpg);
    background-size: 100% 100%;
}
div.Add_mark_for_object_red_yellow_star {
    width: 20px;
    height: 20px;
    background-image: url(/Content/images/red_yellow_star.png);
    background-size: 100% 100%;
}
div.Add_mark_for_object_red_star{
    
    width: 20px;
    height: 20px;
    background-image: url(/Content/images/red_star.png);
    background-size: 100% 100%;

}
div#Add_mark_for_object_partial_id {
   
}
div.Add_mark_for_object_partial_class {
    border: 2px solid black;
}div.Work_with_images_object_one_img_in {
    width: 300px;
    height: 450px;
}
/*Object_view*/
div.Object_view_main_slider_prev_button{
     cursor:pointer;
     height:50px;
    width:50px;
    background-image: url(/Content/images/prev_button_up.png);
    background-size: 100% 100%;
}
div.Object_view_main_slider_next_button{
     cursor:pointer;
     height:50px;
    width:50px;
    background-image: url(/Content/images/next_button_down.png);
    background-size: 100% 100%;
}
div.Object_view_external_button_prev_main_slider{
     position:relative;
    
}
div.Object_view_external_button_next_main_slider{
    position:relative;
}
#Object_view_all_comment_block_id_load{
    margin-top:50px;
}

.Object_view_text_area_comment{
    width:100%;
    min-width:300px;
    height:150px;
    min-height:100px;
    max-height:400px;
    max-width:100%;
}
div.Object_view_small_img_change {
    height: 100px;
    width: 70px;
    cursor:pointer;
}
div.Object_view_small_img_change_block {
    /*height: 450px;*/
    width: 75px;
}
div.Object_view_main_img{
    width:300px;
    height:450px;
}
div.Object_view_main_img_under {
    width: 300px;
    height: 650px;
}div.Object_view_left_block {
    /*width:400px;*/
    width:50%;
}
div.Object_view_right_block{
    width:49%;
}
div.Object_view_one_comment_block {
    border: 2px dashed #8fd4ff;
    padding: 10px;
    min-height: 250px;
    max-height: 500px;
    position:relative;
    width:100%;
}
div.Object_view_one_comment_block_empty {
    border: 2px dashed #8fd4ff;
    padding: 10px;
    min-height: 250px;
    max-height: 500px;
    position:relative;
    width:100%;
     background-image: url(/Content/images/wasted_hor.png);
    background-size: 100% 100%;
}
div.Object_view_comm_block_mark{

}
div.Object_view_mark_main {
    border: 2px solid black;
}
.Object_view_one_comment_text_lable{
   
    word-break: break-all;
    table-layout: fixed;
    max-width:100%;
}
div.Object_view_one_comment_text{
    max-width:70%;
      position:relative;
       max-height: 480px;
    overflow-y: auto;
}
/*Object_add_basket*/
div.Object_add_basket_follow_img_no_object {
    background-image: url(/Content/images/truck_empty.jpg);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    opacity:0.3;
}
div.Object_add_basket_follow_img_empty {
    background-image: url(/Content/images/truck_empty.jpg);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}

div.Object_add_basket_follow_img_full {
    background-image: url(/Content/images/truck_full.jpg);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}
/*Basket_one_object*/
div.Basket_one_object_partial_have_obg{
    height:190px;
/*width:90%;*/    
    display: inline-block;
    vertical-align: top;
}
div.Basket_one_object_partial_num_delete_obj{
    width:100px;
}
div.Basket_one_object_partial_subm_delete_obj{
      width:100px;
}
div.Basket_one_object_partial_form_delete_obj{
    width:205px;
    
}
div.Basket_one_object_partial_delete_all_block{
    margin-top:-20px;
    float:right;
    position:relative;
}
div.Basket_one_object_partial_one_block{
    height:230px;
     background-color:#fafde6;
     
}
div.Basket_one_object_partial_one_block_lvl2{
    margin-top:10px;
      padding-left: 10px;
    padding-top: 30px;
}
div.Basket_one_object_partial_havent_obg{
    opacity:0.3;
    height:190px;
    width:90%;
    display: inline-block;
    vertical-align: top;
}
div.Basket_one_object_left_block{
    width:250px;
    height:100%;
}
div.Basket_one_object_right_block {
   
    height: 100%;
}
div.Basket_one_object_delete_block {
   /* width: 75px;
    height: 100%;*/
    float:right;
    
}
p.Basket_one_object_partial_havent_obg_message{
    font-size:14pt;

}
div.Basket_page_all_price_block{
   position:relative;
   height:100px;
}
div.Basket_page_all_price_block_lvl_2{
    float:right;
    
}
div.Basket_page_buy_but {
    width: 300px;
    font-size: 35pt;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: dotted 2px red;
    background-color: #ffabab;
    transition: 2s;
}
    div.Basket_page_buy_but:hover {
        border: solid 2px black;
        background-color:gainsboro;
    }

   
    /*Follow_one_object_partial*/
    div.Follow_one_object_partial_one_block{
    height:200px;
    background-color:#fafde6;
    margin-top:10px;
     padding-left: 10px;
    padding-top: 10px;
}
div.Follow_one_object_left_block{
    width:250px;
    height:100%;
}
div.Follow_one_object_right_block {
    width: 55%;
    height: 100%;
}
div.Follow_one_object_delete_block {
    width: 75px;
    height: 100%;
    float:right;
}


/*Personal_record*/
/*div.Personal_record_mark_comment_block{
    top:100px;
    position:relative;
}*/
.Personal_record_text_area_comment{
    min-height:100px;
}
.Personal_record_one_comment_text_lable{
   
    word-break: break-all;
    table-layout: fixed;
    max-width:100%;
}
div.Personal_record_one_comment_text{
    max-width:62%;
}
div.Personal_record_right_block {
    width: 30%;
    float:right;
}
div .Personal_record_left_block {
    width: 67%;
}
div.Personal_record_info_block{
    height:300px;
}
div.Personal_record_main_img_block {
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
}
div.Personal_record_one_comment_block {
    /*border: 2px dashed #8fd4ff;*/
    padding-left: 10px;
    padding-top: 10px;
    min-height: 250px;
   /* max-height: 500px; overflow-y: auto;*/
    margin-top:10px;
     background-color:#fafde6;
     position:relative;
    
}
div.Personal_record_one_comment_block_empty{
     padding-left: 10px;
    padding-top: 10px;
    min-height: 250px;
    max-height: 500px;
    margin-top:10px;
     background-color:#fafde6;
     position:relative;
     overflow-y: auto;
      background-image: url(/Content/images/wasted_hor.png);
    background-size: 100% 100%;
}
div.Personal_record_Delete_Comment_button{
    
   width:100%;
   position:relative;
   /*top:50px; width:75px;
  min-height: 230px; float:right;*/
    
}
/*div.Personal_record_Edit_Comment_button{
   
    float:right;
    position:relative;
}*/

/*div.Personal_record_basket_block{
    max-height:450px;
    
}*/
div.Personal_record_basket_block_hidden{
    padding-left:30px;
}
div.Personal_record_follow_block_hidden{
padding-left:30px;
}
div.Personal_record_show_basket_button{
    cursor:pointer;
     text-indent:40px;
}
div.Personal_record_show_follow_button{
    cursor:pointer;
    text-indent:40px;
}
div.Personal_record_triangle_right{
    position:absolute;
    height:0px;
    width:0px;
    border-left:30px solid black;
    border-bottom:15px solid transparent;
    border-top:15px solid transparent;
}
div.Personal_record_triangle_down{
    position:absolute;
    height:0px;
    width:0px;
    border-top:30px solid black;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
}

div.Personal_record_show_comments_button{
    cursor:pointer;
     text-indent:40px;
}
div.Personal_record_show_purchase_button{
    cursor:pointer;
    text-indent:40px;
}
/*div.Personal_record_follow_block{
     max-height:450px;

}*/
div.Personal_record_comments_block{
  padding-left:30px;
}
div.Personal_record_purchase_block{
  padding-left:30px;
}
/*
div.Personal_record_purchases_block{
     max-height:450px;
}*/

div.Personal_record_comment_one_img_block{
    width:250px;
    height:190px;
}
/*Purchase_view*/
div.Purchase_view_one_purchase_block{
    width:100%;
    height:200px;
}
div.Purchase_view_one_purchase_block_img{
     width:200px;
    height:200px;
    float:left;
}
/*Index*/

div.Index_one_block_slider_1{
    height:300px;
    width:150px;
    margin-left:10px;
    background-color:white;
    border:1px groove black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.Index_one_block_slider_1_hid{
    height:100px;
    width:100px;
    
}
div.Index_one_block_slider_1_img{
    height:200px;

}
div.Index_button_prev_slider_1{
   
    cursor:pointer;
     height:100%;
    width:100%;
    background-image: url(/Content/images/prev_button_left.png);
    background-size: 100% 100%;
}
div.Index_external_button_prev_slider_1{
     position:relative;
     top:20%;
    height:50%;
    width:50px;
}
div.Index_button_next_slider_1{
     
    cursor:pointer;
     height:100%;
    width:100%;
    background-image: url(/Content/images/next_button_right.png);
    background-size: 100% 100%;
}
div.Index_external_button_next_slider_1{
    position:relative;
    top:20%;
     height:50%;
    width:50px;
}
div.Index_slider_1{
    position:relative;
    height:300px;
    margin-top:20px;
}
div.Index_block_type_1{
    margin-left:5%;
    
      position:relative;
       
       
}

div.Index_main_slider_one_view_block{
    position:relative;
    height:100%;
   width:100%;
    
   
   
    
}
/*
#Index_main_slider_3_view_block_id{
     position:relative;
    height:300px;
   
    width:300%;
    top: 0;

}*/
/*
div.Index_main_slider_prev_but_v{
    position:relative;
    width:9%;
}
div.Index_main_slider_next_but_v{
    position:relative;
    width:9%;
}*/
/*
div.Index_main_slider_prev_button{
    cursor:pointer;
     height:300px;
    
    background-image: url(/Content/images/prev_button_left.png);
    background-size: 100% 100%;
}
div.Index_main_slider_next_button{
    cursor:pointer;
     height:300px;
   
    background-image: url(/Content/images/next_button_right.png);
    background-size: 100% 100%;
}*/

/*
*/
div.Main_header_hover_section_for_block{
    height:0px;
    width:0px;
    position:absolute;
    background-color:white;
    overflow:hidden;
    
   
   /* display: none;*/
    z-index:4;
   transition:0s;
}
div.Main_header_one_section_block:hover{
    box-shadow:inset 0 0 10px rgba(0,0,0,0.5);
    cursor:default;

}
div.Main_header_one_section_block:hover  div.Main_header_hover_section_for_block{
   /*display: block;*/ 
  height:600px;
    width:350px;
    transition:1s;
   
    
    
}
/*div.Main_header_one_section_block:hover div.Main_header_hover_section_for_block_opac{
    
}*/
div.Main_header_hover_section_for_block_opac{
   /*Main_header_search  opacity:0;transition:5s;*/
    
    position:absolute;
    width:350px;
    height:600px;
}
div.Main_header_search{
    position: relative;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width:45%;
}
div.Main_header_search_text_line{
    width:80%;
}
div.Main_header_search_submit_button{
width:19%;

}



/*Add_object*/
div.Add_object_all_block{
    width:50%;
    min-width:300px;
}
div.Add_object_small_block{
     width:50%;
    min-width:100px;
}
div.Add_object_submit_block{
    margin-top:30px;
}


div.Not_found_page_main_div_img{
    height:400px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width:45%;
    background-image: url(/Content/images/not_found_404.jpg);
    background-size: 100% 100%;
}


/*Mark_for_comment*/
div.Mark_for_comment_good_mark_block{
    width:30px;
    height:30px;
    background-image: url(/Content/images/mark_good.png);
    background-size: 100% 100%;
}
div.Mark_for_comment_funny_mark_block{
    width:30px;
    height:30px;
    background-image: url(/Content/images/mark_funny.png);
    background-size: 100% 100%;
}
div.Mark_for_comment_bad_mark_block{
    width:30px;
    height:30px;
    background-image: url(/Content/images/mark_bad.png);
    background-size: 100% 100%;

}
div.Mark_for_comment_good_mark_blockg{
    width:30px;
    height:30px;
    background-image: url(/Content/images/mark_good.png);
    background-size: 100% 100%;
    background-color:green;
}
div.Mark_for_comment_funny_mark_blockg{
    width:30px;
    height:30px;
    background-image: url(/Content/images/mark_funny.png);
    background-size: 100% 100%;
    background-color:green;
}
div.Mark_for_comment_bad_mark_blockg{
    width:30px;
    height:30px;
    background-image: url(/Content/images/mark_bad.png);
    background-size: 100% 100%;
    background-color:green;
}
div.Mark_for_comment_replace_mark_block_class{
    right:0;
    position:absolute;
    top:0;
}

div.Main_footer_one_link{
   
    width:50px;
    height:50px;
    
    margin-left:200px;
    
}
div.Main_footer_link_block{
    -webkit-transition: all 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
   top:0;
    position:relative;
}

/*SLIDER*/
/*block1----------может изменить остальной код*/

/*block1  END*/
/*block2 ссылку на картинку нужно изменить*/
div._Slider_prev_butt{
	cursor:pointer;
	width:100px;
	height:100px;
	 background-image: url(/Content/images/prev_button_left.png);
    background-size: 100% 100%;
}
div._Slider_next_butt{
	 background-image: url(/Content/images/next_button_right.png);
    background-size: 100% 100%;
	cursor:pointer;
	width:100px;
	height:100px;
}
/*block2  END*/
div._Slider_div_inline_block {
    display: inline-block;
    vertical-align: top;

}
div._Slider_main_block_slider{
     overflow: hidden;
      position:relative;    
}
#_Slider_3_view_block_id{
     position:relative;
    top: 0;
}
div._Slider_block_change_slide{
	position:absolute;
	display:none;
   
}
div._Slider_one_button_change{
	width:30px;
	height:30px;
	background-color:black;
	margin-left:5px;
	margin-top:5px;
	 border-radius: 30px;
	 /*padding-top:5px;
	 padding-left:5px;*/
	border:1px solid white;
	cursor:pointer;
     -webkit-box-sizing:content-box;
    
    
}
div._Slider_one_button_change_curr{
	width:20px;
	height:20px;
	background-color:white;
	margin-left:5px;
	margin-top:5px;
	 border-radius: 20px;
}
#_Slider_3_view_block_id:hover div._Slider_block_change_slide{
	display:block;
}
div._Slider_next_prev_block{
	border:2px solid black;
}
#_Slider_3_view_block_id:hover #_Slider_next_prev_block_id{
	display:block;
}
#_Slider_next_prev_block_id{
	position:absolute;
	display:none;
	width:205px;
	height:100px;
}
div._Slider_next_prev_block_tr{
	 transform: rotate(90deg);
}
div._Slider_cont_timer{
	background-color:white;
	width:30px;
	height:30px;
	cursor:pointer;
	margin-left:5px;
	margin-top:5px;
	 border-radius: 30px;
	 border:1px solid white;
	 overflow: hidden;
}
div._Slider_cont_timer_true{
	background-image: url(slider_preloader.gif);
    background-size: 100% 100%;
	width:100%;
	height:100%;
	
}
div._Slider_cont_timer_false{
	background-image: url(slider_paus.png);
    background-size: 100% 100%;
	width:100%;
	height:100%;
	
}

/*Main_help_block*/
div.Main_help_block_show_all_block_v{
    width:300px;
    height:300px;
    background-color:#c0c0c0;
    border:1px solid black;
    border-radius:10px;
    cursor:default;
}
div.Main_help_block_main_div{
    width:50px;
    height:50px;
     margin-top:15px;
    margin-left:25px;
    /*top:0;position:fixed;background-color:lavender; transition:0s;*/
    overflow:hidden;
    z-index:7;
    /*padding-top:50px;background-color:black;*/
    border-radius:50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    background-image: url(/Content/images/Help_circle.png);
    background-size:100% 100%;
     width:50px;
    height:50px;
    cursor:pointer;
}
/*
div.Main_help_block_main_div:before{
    background-image: url(/Content/images/Help_circle.png);
    background-size:100% 100%;
    content:'';
    position:absolute;
     width:50px;
    height:50px;
    
}
    div.Main_help_block_main_div:hover::before {
        display:none;
    }
div.Main_help_block_main_div:hover {
    border-radius:0%;
    width:300px;
    height:300px;
   transition:2s;
}
    */
/**/
div.layout_panel_move_block{
    position:fixed;
    top:400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width:100px;
    height:400px;
    right:-100px;
     transition:1s;
     z-index:6;
     background-color:#ffebeb;
}
div.layout_panel_move_block:hover {
    right:0;
}
div.layout_panel_move_block:hover::before {

    display:none;
}

div.layout_panel_move_block:before{
    content:'';
    position:absolute;
    height:0px;
    width:0px;
    top:40%;
    margin-left:-50px;
    border-right:50px solid red;
    border-bottom:40px solid transparent;
    border-top:40px solid transparent;
    display:block;
   
}
    div.layout_panel_move_block:hover::after {
        
   border-left:50px solid blue;
    border-bottom:40px solid transparent;
    border-top:40px solid transparent;
    content:'';
    position:absolute;
    height:0px;
    width:0px;
    top:40%;
    margin-left:-50px;
}

div.layout_active_panel{
    position:absolute;
    top:-1px;
    left:-1px;
    width:1px;
    height:1px;

}
/**/
div.layout_present_small_block{
    
   /*top: 320px;position:fixed;*/ 
    margin-top:15px;
   margin-left:25px;
    width:50px;
    height:50px;
    cursor:pointer;
    background-image: url(/Content/images/present_small_l.png);
    background-size:100% 100%;
     z-index:6;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


/*Main_present_block*/
div.Main_present_block_show_image{
     background-image: url(/Content/images/skidka20.png);
    background-size:100% 100%;
    height:500px;
  
}
div.Main_present_block_show_all_block_v{
    width:600px;
    height:800px;
    background-color:#c0c0c0;
    border:1px solid black;
    border-radius:10px;
    cursor:default;
}
div.Main_present_block_show_form{
    height:300px;

}
/*Admin_page_link*/

div.Admin_page_link_small_block{
    
    /*top: 500px;position:fixed;*/
    margin-top:15px;
    margin-left:25px;
    width:50px;
    height:50px;
    cursor:pointer;
    background-image: url(/Content/images/admin_img.jpg);
    background-size:100% 100%;
     z-index:6;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.Admin_page_menu_div{
    width:20%;
    height:500px;
    background-color:aquamarine;
}
div.Admin_page_main_block{
    width:70%;
    margin-left:5%;
    min-height:500px;
    background-color:antiquewhite;
}

/*Menu_search*/
div.Menu_search_main_div{
    position:fixed;
    left:0; top:500px;
    /*right:0;
    top:600px;*/
    background-color:#ffb3dc;
    width:50px;
    height:50px;
    z-index: 7;
    transition:1s;
    overflow:hidden;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.Menu_search_main_div:hover{
    width:100%;
    height:500px;
    top:50px;
     background-color:#ffdee9;
}

/*Edit_object*/
div.Edit_object_menu_div{
    width:20%;
    height:500px;
    background-color:aquamarine;
}
div.Edit_object_main_block{
    width:70%;
    margin-left:5%;
    min-height:500px;
    background-color:antiquewhite;
}






