
@if (ViewBag.admin == true)
{
    <div class="Admin_page_link_small_block"  title="Хей ХО">
        @Html.ActionLink(" ", "Admin_page", "Admin",new { }, new { @class= "link_standart_for_div" })
    </div>
}

