
@{
    ViewBag.Title = "Buy_basket";
}

<h2>Buy_basket</h2>

<h1>Спасибо за покупку!</h1>
@Html.ActionLink("Продолжить","Index","Home",new { },new { })
@Html.ActionLink("Моя страница", "Personal_record", "Home", new { }, new { })
