




    <div class="div_inline_block">
       <div>@ViewBag.Message</div>
        @if (ViewBag.delete == false)
        {
            @Ajax.ActionLink("Попробовать удалить еще раз", "Delete_Comment", "Home", new { id = (int)ViewBag.comment_id },
                       new AjaxOptions
                       {
                           UpdateTargetId = string.Concat("Object_view_one_comm_num_id", (int)ViewBag.comment_id),
                           
                           LoadingElementId = "Main_preloader_id",
                           LoadingElementDuration = 200
                       },
                       new { })
        }
           

        </div>




