
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @Html.ActionLink("лист продуктов", "List_objects_type", "Home", new { }, new { })
    @Html.ActionLink("добавить продукт", "Add_object", "Home", new { }, new { })
    @Html.ActionLink("личная страница", "Personal_record", "Home", new { }, new { })


    <div class="Index_block_type_1">

    </div>
</div>
