@model IEnumerable<online_store.Models.Comment_view>

@if (Model.Count() == 0)
{
    <div class="Object_view_one_comment_block_empty"></div>
}

@foreach (var i in Model)
{
    <div id=@string.Concat("Object_view_one_comm_num_id",i.Db.Id.ToString()) class="Object_view_one_comment_block">

        <div class="div_inline_block">
            <div>
                @if (i.Image_user != null && i.Image_user.Count() > 0)
                {
                    <a class="link_standart_for_div" href=@Url.Action("Personal_record","Home",new {id=i.Db.Person_id })>
                        <img id="Object_view_main_image_id" src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Image_user)) />
                    </a>
                }
                @if (i.Image_user == null || i.Image_user.Count() < 0)
                {
                    <a class="link_standart_for_div" href=@Url.Action("Personal_record","Home",new {id=i.Db.Person_id })>
                        <img id="Object_view_main_image_id" src="/Content/images/camera_200.png" />
                    </a>
                }


            </div>
            @if (!string.IsNullOrEmpty(i.User_name))
            {
                <div>
                    <p>@i.User_name</p>
                </div>
            }
            @if (i.Db.Person_id == ViewBag.Person_id)
            {
                @Ajax.ActionLink("Удалить", "Delete_Comment", "Home", new { id = i.Db.Id },
                       new AjaxOptions { UpdateTargetId = string.Concat("Object_view_one_comm_num_id", i.Db.Id.ToString()) },
                       new { })
                <a style="cursor:pointer;float:right;" onclick=@string.Concat("Edit_One_comment(", i.Db.Id,",",i.Db.Object_id,")")>Редактировать</a>

            }

        </div>
        <div class="div_inline_block Object_view_one_comment_text">
            @if (!string.IsNullOrEmpty(i.Db.Text))
            {


                @Html.Label("", i.Db.Text, new { id = "Object_view_text_one_comment_id" + i.Db.Id.ToString(), @class = "Object_view_one_comment_text_lable" })
            }
            @if (i.Db.Mark != null)
            {
                <div class="Object_view_comm_block_mark">


                    @for (int i1 = 1; i1 < 6; ++i1)
                    {
                        if (i.Db.Mark >= i1)
                        {
                            <div class="Add_mark_for_object_yellow_star div_inline_block">
                            </div>
                        }
                        if (i.Db.Mark < i1)
                        {
                            <div class="Add_mark_for_object_white_star div_inline_block">
                            </div>
                        }

                    }





                </div>
            }

        </div>

    </div>

}