
<div class="div_footer">
    <div class="Main_footer_link_block" id="Main_footer_link_block_id">
        <div class="Main_footer_one_link div_inline_block">
            <img src="/Content/images/social_link/social1.png" />
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <img src="/Content/images/social_link/social2.png" />
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <img src="/Content/images/social_link/social3.png" />
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <img src="/Content/images/social_link/social4.png" />
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <img src="/Content/images/social_link/social5.png" />
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <img src="/Content/images/social_link/social6.png" />
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <img src="/Content/images/social_link/social7.png" />
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <img src="/Content/images/social_link/social8.png" />
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <img src="/Content/images/social_link/social9.png" />
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <img src="/Content/images/social_link/social10.png" />
        </div>
    </div>



</div>
<footer>
    <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
</footer>
