


<div onclick="close_present()" id="Main_present_block_show_all_block">

    <div class="Main_present_block_show_all_block_v">
        <div class="Main_present_block_show_image"></div>
        <div class="Main_present_block_show_form">
            @Html.Label("Подпишитесь на рассылку и получите скидку")
            @using (Ajax.BeginForm("","",new AjaxOptions { }))
            {


            }

        </div>
    </div>


</div>
