


<div onclick="close_present()" id="Main_present_block_show_all_block">

    <div class="Main_present_block_show_all_block_v">
        <div class="Main_present_block_show_image"></div>
        <div class="Main_present_block_show_form">
            @Html.Label("Подпишитесь на рассылку и получите скидку")
            <form method='post' action='Home/Main_present_block_save'>
                <label>Имя:</label>
                <input type='text' name='Name' /><br>
                <label>Email*:</label>
                <input type='text' name='Email' /><br>
                
                <input type='button' value='Подписаться' />
            </form>

        </div>
    </div>


</div>
