
<div class="div_footer">
    <div class="Main_footer_link_block" id="Main_footer_link_block_id">
        <div class="Main_footer_one_link div_inline_block">
            <a href="https://vk.com/zsuzitor" class="link_standart_for_div"><img src="/Content/images/social_link/social1.png" /></a>
            
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <a href="https://vk.com/zsuzitor" class="link_standart_for_div">
                <img src="/Content/images/social_link/social2.png" />
            </a>
</div>
        <div class="Main_footer_one_link div_inline_block">
            <a href="https://vk.com/zsuzitor" class="link_standart_for_div">
                <img src="/Content/images/social_link/social3.png" />
            </a>
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <a href="https://vk.com/zsuzitor" class="link_standart_for_div">
                <img src="/Content/images/social_link/social4.png" />
            </a>
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <a href="https://t.me/zsuzitor" class="link_standart_for_div">
                <img src="/Content/images/social_link/social5.png" />
            </a>
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <a href="https://www.instagram.com/zsuzitor/" class="link_standart_for_div">
                <img src="/Content/images/social_link/social6.png" />
            </a>
</div>
        <div class="Main_footer_one_link div_inline_block">
            <a href="https://twitter.com/zsuzitor" class="link_standart_for_div">
                <img src="/Content/images/social_link/social7.png" />
            </a>
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <a href="https://vk.com/zsuzitor" class="link_standart_for_div">
                <img src="/Content/images/social_link/social8.png" />
            </a>
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <a href="https://vk.com/zsuzitor" class="link_standart_for_div">
                <img src="/Content/images/social_link/social9.png" />
            </a>
        </div>
        <div class="Main_footer_one_link div_inline_block">
            <a href="https://vk.com/zsuzitor" class="link_standart_for_div">
                <img src="/Content/images/social_link/social10.png" />
            </a>
        </div>
    </div>



</div>
<footer>
    <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
</footer>
