


@if (ViewBag.check == null || ViewBag.check == true)
{
    string val= ((bool?)ViewBag.check).ToString();
    @Html.Hidden("Main_present_block_hideen_check", val)
    <div onclick="test_11()" class="layout_present_small_block">
        @{
//@Ajax.ActionLink(" ", "Main_present_block_show","Home",new AjaxOptions{UpdateTargetId= "layout_active_panel_id" })

        }
    </div>
            }
 
