
@{ 
    string color1 = "Mark_for_comment_good_mark_block";
    string color2 = "Mark_for_comment_funny_mark_block";
    string color3 = "Mark_for_comment_bad_mark_block";
    switch ((string) ViewBag.person_mark)
    {
        case "1":
            color1 += "g";
            break;
        case "2":
            color2 += "g";
            break;
        case "3":
            color3 += "g";
            break;

    }

            }

<div>
    <div class=@color1 title=@ViewBag.Count_good_mark>@Ajax.ActionLink(" ","Mark_for_comment","Home",
                                                                                    new { comment_id = ViewBag.Comment_id, click = true, mark = 1 },
                                                 new AjaxOptions {UpdateTargetId= string.Concat("Mark_for_comment_replace_mark_block", ViewBag.Comment_id),
                                                     LoadingElementId = "Main_preloader_id",
                                                     LoadingElementDuration = 200
                                                 }
                                                 ,new {@class= "link_standart_for_div" }) </div>

    <div class=@color2  title=@ViewBag.Count_funny_mark>@Ajax.ActionLink(" ", "Mark_for_comment", "Home",
                                                                                    new { comment_id = ViewBag.Comment_id, click = true, mark = 2 },
                                                 new AjaxOptions { UpdateTargetId = string.Concat("Mark_for_comment_replace_mark_block", ViewBag.Comment_id),
                                                     LoadingElementId = "Main_preloader_id",
                                                     LoadingElementDuration = 200
                                                 }
                                                 , new { @class = "link_standart_for_div" })</div>

    <div class=@color3  title=@ViewBag.Count_bad_mark>@Ajax.ActionLink(" ", "Mark_for_comment", "Home",
                                                                                    new { comment_id = ViewBag.Comment_id, click = true, mark = 3 },
                                                 new AjaxOptions { UpdateTargetId = string.Concat("Mark_for_comment_replace_mark_block", ViewBag.Comment_id),
                                                     LoadingElementId = "Main_preloader_id",
                                                     LoadingElementDuration = 200
                                                 }
                                                 , new { @class = "link_standart_for_div" })</div>

</div>

