
<div>
    @if (ViewBag.InBasket == false)
    {
        <div title="Добавить в корзину" class="Object_add_basket_follow_img_empty">
            @Ajax.ActionLink(" ", "Object_add_basket", new { id = ViewBag.Id, click = true  },
           new AjaxOptions { UpdateTargetId = string.Concat("Object_add_basket_block_all_id", ViewBag.Id),
               LoadingElementId = "Main_preloader_id",
               LoadingElementDuration = 1000
           },
           new { @class = "link_standart_for_div" })
        </div>
    }
    @if (ViewBag.InBasket == true)
    {
        <div title="Удалить из корзины" class="Object_add_basket_follow_img_full">
            @Ajax.ActionLink(" ", "Object_add_basket", new { id = ViewBag.Id, click = true  },
           new AjaxOptions { UpdateTargetId = string.Concat("Object_add_basket_block_all_id", ViewBag.Id),
               LoadingElementId = "Main_preloader_id",
               LoadingElementDuration = 1000
           },
           new { @class = "link_standart_for_div" })
        </div>
    }
</div>



@{
    /*
     <div id="Object_add_basket_block_all_id">

    @if (ViewBag.In_basket == true)
    {
        <div class="Object_add_basket_follow_img">
            <img src="/Content/images/red_heart.png" />
        </div>
        <p>Удалить из корзины</p>


        @Ajax.ActionLink("", "Object_add_basket", new { id = ViewBag.Id }, new AjaxOptions { UpdateTargetId = "Object_add_basket_block_all_id" }, new { @class = "link_standart_for_div" })
    }
    @if (ViewBag.In_basket == false)
    {
        <div class="Object_add_basket_follow_img">
            <img src="/Content/images/white_heart.png" />
        </div>
        <p>Добавить в корзину</p>
        @Ajax.ActionLink("", "Object_add_basket", new { id = ViewBag.Id }, new AjaxOptions { UpdateTargetId = "Object_add_basket_block_all_id" }, new { @class = "link_standart_for_div" })
    }

    </div>
     *  */
}


