@model online_store.Models.Person
@{
    ViewBag.Title = "Personal_record";
    //  @Html.Label(Model.Db.Info)
}

<h2>Personal_record</h2>


<div>

    <div class="Personal_record_info_block">
        <div class="div_inline_block Personal_record_left_block">
        </div>
        <div class="div_inline_block Personal_record_right_block">
            <div class="Personal_record_main_img_block">


                @if (Model.Db.Image != null)
            {

                    <img id="" src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(Model.Db.Image)) />
                }
                @if (Model.Images.Count == 0)
            {
                    <img id="" src="/Content/images/camera_200.png" />
                }
            </div>




        </div>
    </div>
    <div>
        @foreach (var i in ViewBag.Baskets)
            {
            <div>
                @Html.Action("Basket_one_object_partial", "Home", new { id = i.Object_id })
            </div>
        }

    </div>
    <div>
        @foreach (var i in ViewBag.Follow)
        {
            <div>
                @Html.Action("Follow_one_object_partial", "Home", new { id = i.Object_id })
            </div>
        }

    </div>
    <div>
        @foreach (var i in Model.Comments)
            {
            }
    </div>
    <div>
        @{ 
            /*@foreach (var i in Model.)
        {
            ПОКУПКИ
                }*/
        }
        
    </div>











</div>

