@model IEnumerable<online_store.Models.Connect_image>

@{
    ViewBag.Title = "Test_slider";
}
@Scripts.Render("~/scripts/Slider.js")
<script>


    var slider;

    function up_slider() {
        var count_img_in_list__ = document.getElementById("count_id_slider").value;
        slider = new slider_horizontal(count_img_in_list__, "slider_tt", "test_id_img", 1000, 300,3000);

        slider.reload();
    }

    document.addEventListener("DOMContentLoaded", up_slider);

</script>

<h2>Test_slider</h2>


<div  class="Object_view_external_button_prev_main_slider div_inline_block">
    <div onclick="slider.prev()" id="" class="Object_view_main_slider_prev_button"></div>
</div>

@Html.Hidden("count_id_slider",((int)ViewBag.Count_id_slider))
<div class="test_tt1 div_inline_block">
    <div  id="slider_tt" ></div></div>



<div  class="Object_view_external_button_next_main_slider div_inline_block">
    <div onclick="slider.next()" id="" class="Object_view_main_slider_next_button"></div>
</div>


@{ 
    int num = 0;
}
<div class="div_display_none">
    @foreach (var i in Model)
    {
        <div id=@string.Concat("test_id_img",num)>
            <div class="test_div div_inline_block">
                <img src=@String.Format("data:image/jpeg;base64," + Convert.ToBase64String(i.Image)) />
            </div>
            

        </div>

        num++;
    }
</div>